body{
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar {
  background: rgb(0, 62, 144);
  color: white;
  padding: 15px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 15px;
  justify-content: end;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar h1{
  font-family:'Times New Roman', Times, serif;
  font-size: 35px;
}

.aside ul {
  list-style: none;
  padding: 0;
}

.aside a {
  text-decoration: none;
  color: black;
}

.aside a:hover{
  color: rgb(0, 45, 108);
}

.main {
  background: lightgray;
  padding: 20px;
}

.section {
  background: #ddd;
  padding: 20px;
}

.aside {
  background: #bbb;
  padding: 20px;
}

.footer {
  background: black;
  color: white;
  text-align: center;
  padding: 25px;
  margin-bottom: 0;
}